{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "~": "./src",
                    "~public": "./public"
                }
            }
        ]
    ]
}
